body {
  background: url("../wallpaper/shopping_list_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* Shopping List */

#shopping_list_full {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.shopping_cart_left_side {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 10px;
}

.shopping_list_left_side {
  float: left;
}

.shopping_list_left_side h1 {
  text-align: center;
  color: white;
}

.shopping_cart_flex {
  display: flex;
  float: left;
  gap: 100px;
  padding-top: 20px;
}

.shopping_cart_flex_right {
  display: flex;
  padding-left: 460px;
  gap: 50px;
}

.shopping_cart_middle_left {
  display: flex;
  text-align: left;
  gap: 30px;
}

.shopping_cart_middle_left img {
  width: 200px;
}

.shopping_cart_bottom_right {
  position: relative;
  padding: 0 0 15px 600px;
  margin: 10px auto;
}

.shopping_cart_middle_column {
  padding-top: 50px;
}

.product_name {
  width: 340px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.shopping_cart_bottom_right button {
  width: 150px;
  height: 50px;
  font-size: small;
  margin: 0 0 0 10px;
}

.quantity_container {
  display: flex;
  gap: 3px;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

#quantity {
  margin-top: 70px;
  height: 25px;
  width: 30px;
}

.small_button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 0 7px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(121, 96%, 44%);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.price,
.cart_total {
  margin-top: 70px;
}

.shopping_list_right_side {
  background-color: white;
  border: 1px solid rgb(147, 147, 147);
  padding: 20px;
  margin-top: 90px;
  border-radius: 10px;
}

.cart_total_right_side {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}

.shopping_list_right_side hr {
  margin: 0;
}

.cart_total_right_side p {
  padding-top: 50px;
  font-size: x-large;
}

.button_right_side button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(121, 96%, 44%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.proceed_to_checkout button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  width: 280px;
  border: none;
  border-radius: 20px !important;
  background-color: rgb(255, 177, 33) !important;
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.continue_shopping {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(121, 96%, 44%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.clear_cart {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(0, 0%, 69%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.small_button_x {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 0 7px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(0, 0%, 69%);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

textarea {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  max-height: 100px;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}
