body {
  background: url("../wallpaper/shopping_list_wallpaper.jpg") no-repeat center
    center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}
/* Shopping List */

#shopping_list_full {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.shopping_cart_left_side {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 10px;
}

.shopping_list_left_side {
  float: left;
}

.shopping_list_left_side h1 {
  text-align: center;
  color: white;
}

.shopping_cart_flex {
  display: flex;
  justify-content: space-around;
}

.badge_product_img img {
  width: 100px;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    height: 100%;
  }
  .shopping_cart_left_side {
    width: 80vw;
    margin: 20px 40px;
  }

  .shopping_cart_middle_left {
    flex-direction: column;
    display: flex;
    gap: 0 !important;
  }

  .shopping_cart_flex {
    display: flex;
    justify-content: space-around;
    font-size: small;
  }

  .shopping_cart_flex_right {
    gap: 0;
    padding-left: 0 !important;
    font-size: small;
  }

  .quantity_container {
    padding-top: 10px;
  }

  .shopping_cart_bottom_right {
    padding: 0 !important;
    margin: 10px;
  }

  .cart_total {
    margin-top: 0 !important;
  }

  .badge_product_img {
    display: flex;
    justify-content: center;
  }

  .product_image {
    width: 200px;
  }

  #shopping_list_full {
    flex-direction: column;
  }

  .price_qty_cartTotal {
    margin-left: 0 !important;
  }
}

.shopping_cart_flex_right {
  display: flex;
  padding-left: 460px;
  gap: 50px;
}

.shopping_cart_middle_left {
  display: flex;
}

.shopping_cart_bottom_right {
  padding: 0 0 15px 600px;
  margin: 10px auto;
}

.shopping_cart_middle_column {
  padding-top: 50px;
}

.product_name {
  width: 340px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.quantity_container {
  display: flex;
  height: 30px;
  border: 1px solid rgb(0, 255, 0);
  border-radius: 10px;
  gap: 3px;
  padding: 2px;
}

.price_qty_cartTotal {
  margin-left: 400px !important;
}

.shopping_list_right_side {
  background-color: white;
  border: 1px solid rgb(147, 147, 147);
  padding: 20px;
  margin-top: 90px;
  border-radius: 10px;
}

.shopping_list_right_side hr {
  margin: 0;
}

.button_right_side button {
  border: none;
  border-radius: 20px !important;
  background-color: hsl(121, 96%, 44%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.proceed_to_checkout button {
  padding: 10px;
  height: fit-content;
  width: 280px;
  border: none;
  border-radius: 20px !important;
  background-color: rgb(255, 177, 33) !important;
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.continue_shopping {
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(121, 96%, 44%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

.clear_cart {
  padding: 10px;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px !important;
  background-color: hsl(0, 0%, 69%);
  color: white;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}

textarea {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  max-height: 100px;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}
