/* First_Section */

/* .zoom-container {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
  padding: 50px;
}

.zoom-container img {
  width: 100%;
  display: block;
}

.zoom-lens {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid black;
  background-size: 320%;
  background-repeat: no-repeat;
  pointer-events: none;
  display: none;
}

.first_section_middle {
  padding-left: 10px;
}

.first_section_middle h2 {
  font-weight: lighter;
  font-size: 50px;
}

.middle_1 {
  float: left;
  flex-direction: row;
  padding-top: 50px;
  gap: 0;
}

.middle_1 p {
  font-size: xx-large;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.middle_1 h3 {
  font-size: medium;
  font-weight: lighter;
  padding-bottom: 10px;
  margin: 0%;
}

.middle_1 h4 {
  font-size: x-large;
  color: rgb(236, 236, 13);
  padding: 0;
  margin: 0;
}
.middle_1 p {
  padding: 0;
  margin: 0;
}

.middle_1 button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: skyblue;
  border: 2px outset rgb(91, 197, 240);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.middle_1 button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.middle_1 hr {
  border: 1px solid black;
  width: 398px;
}

.middle_2 img {
  width: 400px;
}

.middle_2_1 {
  display: flex;
  gap: 10px;

  align-items: center;
}

.middle_2 h1 {
  font-size: xx-large;
  color: #333;
}

.middle_2_1 button {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgb(10, 185, 10);
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: 2px outset rgb(10, 185, 10);
  transition: all 0.2s ease-in-out;
}

.middle_2_1 button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.heart {
  color: red;
  padding-right: 5px;
  margin: 0;
}

.middle_3_1 h3 {
  color: #666565;
  text-decoration: line-through;
  font-weight: bold;
}

.addToCart {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgb(10, 185, 10);
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: 2px outset rgb(10, 185, 10);
  transition: all 0.2s ease-in-out;
}

.middle_3_2 form {
  display: flex;
  gap: 25px;
}

.middle_3_2 form span {
  font-size: x-large;
}

.addToCart:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.first_section_right_side {
  padding-left: 200px;
  padding-top: 50px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 200px;
  margin-bottom: 50px;
}

dt {
  padding-bottom: 20px;
}

tr,
th {
  padding: 20px;
}

.list {
  padding: 10px 30px;
}

.unordered_list {
  font-weight: bold;
}

th:first-child {
  border-top-left-radius: 10px;
  border: 1px outset rgb(136, 135, 135);
}

th:last-child {
  border-top-right-radius: 10px;
  border: 1px outset rgb(136, 135, 135);
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border: 1px outset rgb(136, 135, 135);
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border: 1px outset rgb(136, 135, 135);
}

.second_left_section_1 {
  padding-left: 120px;
}

.second_left_section_1 table {
  width: 1150px;
}

.item_left {
  padding: 0;
}

.item_right {
  padding: 0;
  left: 35%;
  position: absolute;
}

.list_flex {
  display: flex;
  padding-left: 50px;
}

.headset_image img {
  width: 100%;
}

.list_float_left {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  float: left;
}

.item_left h2 b {
  padding: 0;
}

.item_left p {
  font-weight: lighter;
  padding-right: 30px;
}

.item_list_ul {
  list-style-type: disc;
  padding: 10px 30px;
}

.item_list_li {
  padding: 5px 0;
  color: black;
  display: list-item;
}

.list_float_left {
  overflow: visible;
}

.vertical-line {
  width: 1px;
  height: 18vh;
  background-color: black;
  color: black;
}
.wrap-image {
  padding-left: 40px;
} */
