* {
}

#careers_section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: green !important;
  margin: 20px 0;
}

h6 {
  margin: 20px 0;
}

.careers_swiper {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto !important;
}
.card {
  height: 100%;
  width: 100%;
}

.careers_swiper_wrapper {
  padding-top: 10px;
  padding-bottom: 50px;
}

.careers_header_img {
  display: inline-block;
  margin: 20px 0;
}

.card-title {
  color: green !important;
}

.careers-buttons-next,
.careers-buttons-prev {
  color: green !important;
  z-index: 10 !important;
}
