.breadcrumb_trail a,
.breadcrumb_trail span {
  font-weight: normal;
  font-size: medium;
  color: rgb(77, 76, 76);
  text-decoration: none;
}

.breadcrumb_trail a:hover {
  text-decoration: underline;
}

.breadcrumb_trail {
  padding-left: 20px;
}

.footer_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.full_footer_layout {
  padding: 20px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-size: large;
}

.full_footer_layout ul {
  list-style: none;
}

h2 {
  color: #00ad2e;
  font-weight: bolder;
}

strong {
  color: #00ad2e;
}

small {
  color: rgb(53, 53, 255);
  font-size: x-small;
}

b {
  font-weight: bold;
}

.locations li {
  font-size: larger;
  list-style: circle;
  font-weight: bolder;
}

.locations li::marker {
  color: #00ad2e;
}

/* Footer Layout */

#careers_section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h6 {
  margin: 20px 0;
}

h1,
h2,
h3 {
  color: #00ad2e !important;
}

.careers_swiper {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto !important;
}
.card {
  height: 100%;
  width: 100%;
}

.careers_swiper_wrapper {
  padding-top: 10px;
  padding-bottom: 50px;
}

.careers_header_img {
  display: inline-block;
  margin: 20px 0;
}

.card-title {
  color: #00ad2e !important;
}

.careers-buttons-next,
.careers-buttons-prev {
  color: #00ad2e !important;
}

.spc-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}
.spc-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#our-company {
  width: 2200px;
}
