.breadcrumb_trail a,
.breadcrumb_trail span {
  font-weight: normal;
  font-size: medium;
  color: rgb(77, 76, 76);
  text-decoration: none;
}

.breadcrumb_trail a:hover {
  text-decoration: underline;
}

.breadcrumb_trail {
  padding-left: 20px;
}

.footer_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.full_footer_layout {
  padding: 20px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-size: large;
}

.full_footer_layout ul {
  list-style: none;
}

h2 {
  color: #00ad2e;
  font-weight: bolder;
}

strong {
  color: #00ad2e;
}

small {
  font-size: x-small;
}

b {
  font-weight: bold;
}

.locations li {
  font-size: larger;
  list-style: circle;
  font-weight: bolder;
}

.locations li::marker {
  color: #00ad2e;
}
