.bestselling-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 1;
  border-radius: 6px;
  min-width: 160px;
}

.bestselling-dropdown-content a:hover {
  background-color: #ddd;
}

.bestselling-dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.bestselling_dropdown:hover .bestselling-dropdown-content {
  display: block;
}

.price_inputs input {
  width: 80px;
  border-radius: 20px;
  border: 0.5px solid #b9b9b9;
  padding: 5px;
}

.price_inputs button {
  padding: 5px 10px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.price_dropdown:hover .price_dropdown_hover {
  display: block;
}

.dropbtn {
  padding: 10px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.bestselling_dropdown {
  position: relative;
  display: inline-block;
}

.price_inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* @media (max-width: 575.98px) and (max-width: 767px) {
  .right_side_section {
    padding: auto;
    width: 100%;
    padding-right: 0;
  }

  .left_side_section {
    display: none;
  }

  .product {
    width: 45vw !important;
    height: fit-content;
    margin: 10px auto;
    gap: auto;
  }

  .products_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .bestselling_dropdown {
    margin-left: 200px;
  }

  .buy_now {
    font-size: small;
    text-wrap: nowrap;
  }

  .spcfix_btn {
    font-size: small;
  }

  .price,
  .percent_off {
    font-size: 10px !important;
  }

  .product_name {
    font-size: 10px;
  }

  .product_save {
    font-size: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
} */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .left_side_section {
    width: 30%;
  }

  .right_side_section {
    width: 65%;
  }

  .product {
    width: 25vw;
    height: fit-content;
  }

  .products_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .page_wrapper {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    padding: 50px;
  }

  .left_side_section h5 {
    font-size: medium;
  }

  .buy_now {
    font-size: small;
    text-wrap: nowrap;
  }

  .spcfix_btn {
    font-size: small;
  }

  .price,
  .percent_off {
    font-size: 10px;
  }

  .product_name {
    font-size: 10px;
  }

  .product_save {
    font-size: 10px;
  }

  #navbar2 {
    flex-wrap: nowrap;
    top: 120px;
    width: 100%;
  }

  .nav-link {
    font-size: 10px;
    text-wrap: nowrap;
  }

  .nav-item img {
    flex-wrap: nowrap;
  }

  .bestselling_dropdown {
    position: relative;
    margin: 10px 0 10px 380px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  #navbar2 {
    top: 120px !important;
  }
}

@media (min-width: 1200px) {
  .product {
    width: 15vw !important;
    height: fit-content;
  }

  .left_side_section {
    width: 25%;
  }

  .right_side_section {
    width: 50%;
  }

  .products_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .buy_now {
    font-size: 16px;
    text-wrap: nowrap;
  }

  .spcfix_btn {
    font-size: 16px;
  }

  .price,
  .percent_off {
    font-size: 16px;
  }

  .product_name {
    font-size: 16px;
  }

  .product_save {
    font-size: 16px;
  }

  .price_dropdown {
    transform: translateX(-35px);
  }

  .page_wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: auto;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .bestselling_dropdown {
    position: relative;
    padding-left: 570px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
