body {
  background-image: url("../wallpaper/track_your_order_wallpaper.png");
}

/* -------------------- Track Your Order -------------------- */

.track_your_order_fill_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.track_your_order_fill_section span {
  display: flex;
}

.track_your_order_fill_section h2 {
  color: black;
}

form {
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  background-color: white;
}

label {
  padding: 20px;
  font-weight: bolder;
}
input {
  border-radius: 20px;
  padding: 10px;
  width: 400px;
}

.track_button {
  background-color: #fdd835;
  color: white;
  width: 150px;
  margin-left: 30%;
  margin-top: 5%;
  font-size: larger;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formMessage {
  background-color: white;
  padding: 20px;
  transform: translateY(-100px);
  border-radius: 20px;
  font-size: smaller;
  opacity: 0;
}

.showMessage {
  animation: slideDown 0.5s forwards;
}

/* Animation */

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
