body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 160px;
  background-image: url("../wallpaper/track_your_order_wallpaper.png");
}

a {
  text-decoration: none !important;
}

ul,
li {
  text-decoration: none !important;
  display: block;
}

button,
p,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

/* -------------------- Track Your Order -------------------- */

.track_your_order_fill_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.breadcrumb_trail a,
.breadcrumb_trail span {
  font-weight: normal;
  font-size: medium;
  color: white !important;
}

.breadcrumb_trail a:hover {
  text-decoration: underline !important;
}

.breadcrumb_trail {
  padding-left: 20px;
}

.track_your_order_fill_section span {
  display: flex;
}

.track_your_order_fill_section h2 {
  color: white;
}

form {
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  background-color: white;
}

label {
  padding: 20px;
  font-weight: bolder;
}
input {
  border-radius: 20px;
  padding: 10px;
  width: 400px;
}

.track_button {
  background-color: #fdd835;
  color: white;
  width: 150px;
  margin-left: 30%;
  margin-top: 5%;
  font-size: larger;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formMessage {
  background-color: white;
  padding: 20px;
  transform: translateY(-100px);
  border-radius: 20px;
  font-size: smaller;
  opacity: 0;
}

.showMessage {
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
