body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 194, 194);
    border: 1px solid #b9b9b9;
    padding: 0 20px;
    padding-right: 50px;
    right: 0%;
    left: 0%;
    z-index: 5;
    position: fixed;

}

.logo img{
  height: 55px;
}

.logo h2{
    color: white;
    font-size: larger;
}

.logo {
    display: flex;
    gap: 10px;
}


.nav-links {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 50px;
    
}

.nav-links li {  
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;

}

.nav-links a {
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-size: 1.3rem;
    transition: color 0.3s ease;
   
}

.nav-links a:hover {
    color: #3c9052;
}




/* Dropdown Menu */
.dropdown {
    position: relative;
    
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(194, 194, 194);
    color: #333(255, 255, 255, 0.747);
    list-style: none;
    text-align: center;
    padding: 15px 0;
    top: 100%;
    z-index: 999;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 5px 15px;
    white-space: nowrap;
    font-size: large;
    /* Prevents text from wrapping */
}

.dropdown-menu a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    text-align: center;
    padding: 20px  20px  0 ;
    font-size: medium;
    
   
    
}

.dropdown-menu a:hover {
   
    border-radius: 10px;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

 /* Search */

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 57px;
    background-color: white;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #cacaca;
    
}

#search {
    width: 85%;   
    border: 1px solid #cacaca;
    border-radius: 5px;
    border-radius: 20px;
    padding: 10px;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    
    cursor: pointer;
    
}

#search-button:hover {
    background-color: #45a049;
}

.navbar_icon{
    height: 30px;
    
}

 /* Scrolling Text Section */

.scrolling-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #222;
    color: white;
    font-size: x-small;
    padding-top: 5px;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
  }

  .scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 90s linear infinite;
   
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

 


/* Hero Section */

.hero {
    text-align: center;
    background: url('hero-bg.jpg') center/cover no-repeat;
    color: rgb(46, 46, 46);
    padding: 150px 20px;
    background-color: #77f07b;
    margin-bottom: 60px;
}

.hero h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(53, 187, 53);
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.btn:hover {
    background: #00ad2e;
    transform: scale(1.05);
}

 /* Carousel Slider  */

.slider {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    /* Space between images */
}

.slide {
    flex: 0 0 calc(34.25% - 18px);
    /* Show 3 images at a time */
    text-align: center;
}

.slide img {
    width: 100%;
    height: 300px;
    /* Adjust height as needed */
    object-fit: cover;
    border-radius: 10px;
}



 /* Items Cathegory Section */

#items_category_section{
    background-color: rgb(63, 63, 63); 
    margin: 40px 0;
    width: 100%;
    height: 100%;
}

.items_category_slider{
    width: 1380px;
    max-width: 1380px;
    margin: auto ;
    overflow: hidden;
    position: relative;
    border-radius: 20px; 
    
      
    
}

.items_category_container{
    display: flex;
    justify-content: left; /* Center items inside the container */
    width: 100%;             /* Make it span the full width of its parent */
    transition: transform 1.20s ease-in-out;
    padding: 50px 0;
    
     

    
}

.items_category_product{
    background-color: white;
    padding: 0 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(104, 104, 104, 0.5);
    margin: 0 10px;
    transition: transform 0.3s ease;

}

.items_category_product:hover{
    transform: scale(1.05);
}

.items_category{
    display: flex;
    width: max-content;        /* Allow it to be only as wide as its children */
    transition: transform 0.2s linear;
    gap: 10px;
}

.items_cathegory_image{
    width: 130px;
    height: 130px;
}

.items_category_preview{
    position: absolute;
    left: 9%;
    top: 116%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

.items_category_next{
    position: absolute;
    right: 9%;
    top: 116%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

.items_category_preview:hover , .items_category_next:hover{
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

/* Featured Products Section */

.products {
    text-align: center;
    margin: 40px 0;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
   
    
}

.product {
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(104, 104, 104, 0.5);
    transition: transform 0.3s ease;
    margin: 20px 5px;
    text-align: center;
    position: relative;
}

.products_hover {
    box-shadow: 0 4px 4px rgb(62, 155, 70);
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: white;
    color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 96%;
    left: 0;
    width: 240px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 30px;
    z-index: 1;
    border-radius: 10px;
}

.products_hover li a:hover{
    color: red;
}

.product:hover .products_hover {
    display: block;
}

.product_image {
    width: 80%;
    max-width: 200px;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 0;
}

.product p {
    font-size: 1.1rem;
    color: #333;
}

.product_buttons{
   margin-right: 30px;
}


.cart{
    background-color: rgb(53, 187, 53);
    border-radius: 10px;
    border: none;
    padding: 3px;
    transition: transform 0.3s ease;
    font-weight: bold;
    position: absolute;
    margin-left: 3px;
    

}

.cart img{
    width: 15px;
    padding: 5px;
    color: #333;
}

.cart:hover{
    transform: scale(1.05);
 
}

.buy_now{
    background-color: rgb(53, 187, 53);
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: transform 0.3s ease;
    font-weight: bold;
    width: 150px;
    height: 35px;
    margin-right: 20px;
}

.buy_now:hover{
    transform: scale(1.05);
}

.featured_products_preview{
    position: absolute;
    left: 11%;
    top: 240%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

.featured_products_next{
    position: absolute;
    right: 11%;
    top: 240%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

.featured_products_preview:hover , .featured_products_next:hover{
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}


/* Navigation Buttons */

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Slider Navigation Buttons */

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background 0.3s ease;
}



.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Log-in Form */

.popup {
    display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 300px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(173, 173, 173);
    font-size: x-large;
    border-radius: 20px;
    color: white;
    z-index: 1000;
}

h1{
    text-align: center;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

input,label
 {
    font-size: x-large;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}

.email {
    padding: 30px;
 
}

.password {

    padding-left: 30px;

}

.submit {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#openLogin{
    margin-left: 20px;
    top: 4%;
    padding: 5px;   
    border-radius:10px;
    border: white;
    font-size: large;
    font-weight: bold;
    position: absolute;
}

/* Loptop and Desktop Section */

#loptop_desktop_section{
    background-color: rgb(143, 143, 143); 
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    margin: 40px 0;
}

.loptop_slider , .desktop_slider{
    width: max-content;
    max-width: 840px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
   
}

.loptop_container , .desktop_container{
    display: flex;
    width: max-content;  
    transition: transform 0.5s ease-in-out;
    background-color: rgb(63, 63, 63);
    padding: 40px 25px;
  
}


.loptop_desktop_flex{
    display: flex;
}


.loptop_font , .desktop_font{
    position: absolute;
    color: white;
    top: 0%;
    display: flex;
    gap: 620px;
}

.loptop, .desktop {
    transition: transform 0.2s linear;
    display: flex;
    box-sizing: border-box;
    gap: 20px;
   
    
}

.loptop_preview , .desktop_preview{
    position: absolute;
    left: 4%;
    top: 50%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

.loptop_preview:hover , .loptop_next:hover , .desktop_preview:hover , .desktop_next:hover {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.loptop_next , .desktop_next{
    position: absolute;
    left:90%;
    top: 50%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

  /* Checkout Vouchers and Daily Free Shipping Section  */


  .best_coupons_flex{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .best_coupons_flex h3{
    background-color: rgb(0, 167, 0) ;
    font-size: x-large;
    color: white;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    padding: 20px 0;
  }

  .best_coupons_flex h2{
    background-color: rgb(142, 0, 170) ;
    font-size: x-large;
    color: white;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    padding: 20px 0;
  }

  /* New Arrivals Section and Top Sellers Section */

  #new_arrivals{
    background-color: lightgray;
    padding: 50px;
    padding-left: 200px;
    left: 0;
    right: 0;
  }

  .new_arrivals_top_sellers_flex{
    flex-direction: row;
  }


  .new_arrivals_products{
    display: flex;
    
  }

  .new_arrivals_font{
    color: rgb(56, 56, 56);
    font-size: x-large;
    text-decoration: 3px underline rgb(238, 0, 0) ;
    text-underline-offset: 10px;
    
  }

  .top_sellers_products{
    display: flex;
  }

  .top_seller_font{
    color: rgb(56, 56, 56);
    font-size: x-large;
    text-decoration: 3px underline rgb(238, 0, 0) ;
    text-underline-offset: 10px;
    

  }

  /* Customers Comments Section */
  
  #customers_comment{
     background-color: rgb(56, 56, 56);
     background-color: rgb(56, 56, 56);
     padding: 20px 0 50px;
     width: 100%;
  }

  #customers_comment h2{
    font-size: xx-large;
    color: white;
    margin-left: 100px;
  }

 
  .comments_flex{
    display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
  gap: 20px;
  }

  .comments{
    transition: transform 0.2s linear;
    display: flex;
    box-sizing: border-box;
    gap: 20px;
  }

  .comments_container{
    width: 100%;
  padding: 10px 0;
    
  }

  .comments_slider{
    width: 100%;
  max-width: 1775px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  }

  .comment{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 400px;
    flex-shrink: 0;
  }

  .comment img{
    justify-content: center;
    height: 50px;
    border-radius: 50%;
  }

  

  .comments_preview_button{
    position: absolute;
    left: 1%;
    top: 433%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
  }

  .comments_next_button{
    position: absolute;
    right:1%;
    top: 433%;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
  }

  .comments_preview_button:hover , .comments_next_button:hover{
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
  }

 


  /* Customers Comments Section  */

  .payment_option_flex{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
  }

 .payment_option_flex img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
 }

/* Sign-up Form */

.sign-up_popup{
    display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 550px;
        padding: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        background-color: rgb(173, 173, 173);
        font-size: x-large;
        border-radius: 20px;
        color: white;
        z-index: 1000;
}

.sign-up_popup-content{
    position: relative;
}

.sign-up_close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}



.name_username{
    gap: 10px;
    display: flex;
    padding-left: 28px;
}


.sign-up_password{

    padding-left: 30px;
}

.sign-up_submit{
        transition: all 0.2s ease-in-out;
            cursor: pointer;
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 30px;
}

/* Popup container */

.start_popup {
    display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;      
        padding: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        background-color: white;
        font-size: x-large;
        border-radius: 20px;
        color: black;
        z-index: 1000;
      
}

/* Popup content */
.start_popup-content {
    
    position: relative;
}

/* Close button */
.start_close-btn {
    font-size: medium;
    color: black;
    position: absolute;
    top: 1px;
    right: 5px;
    background-color: rgb(173, 173, 173);
    padding: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.pop-up_left_image{
    float: left;
    padding: 30x 30px;
    padding-top: 40px;
    
}

.pop-up_left_image img{
    width: 350px;
    height: 300px;
}

.pop-up_right {
   flex-direction: row;
 
}

.left_p_1{
    text-align: center;
    font-size: 20px;
}

.left_p_2{
    float: left;
    font-size: 17px;
}

.pop-up_right h3{
    text-align: center;
}


.pop-up_flex{
    display: flex;
   
}

.pop-up_form{
    flex-direction: row;
    padding: 40px;
    align-items: center;
    cursor: pointer;
}


.continue_button{
    margin-left: 20px;
    width: 200px;
    height: 30px;
    font-size: large;
    border-radius: 10px;
    border: 0;
    background-color: #3c9052;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background: #333;
    color: white;
    padding: 30px 0;
    margin-top: 20px;
    gap: 200px;
}

.footer-container img{
    height: 70px;
}

.b_w_logo{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.b_w_logo img{
border: none;
width: 50px;
height: 50px;
}

li,.footer_link,ul {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px 0;
}

a{
text-decoration: none;
    display: block;
    color: rgb(58, 58, 58);
}

.footer_link:hover{
    color: #3c9052;
    transition: color 0.3s ease-in-out;
  
}